label {
    color: #777777;
}
.form-control {
    color: #777777;
}
.btn-primary {
    margin-bottom: 2%;
    background-color: #4aaaa4;
}
form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}