img {
    width: 50%;
}
.label {
    position: absolute;
    background-color:  #4aaaa4;
    color: white;
    left: 16%;
}
.hangmanLabel { 
    top: 84%;
}
.crystalCollector {
    margin-top: 15%;
}
.crystalLabel {
    top: 80%;
    left: 18%;
}
.triviaLabel {
        top: 82%;
    }
.giphyLabel {
    top: 91%;
    left: 20%;
}
div ul li a{
    color: grey;
}